@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

*{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 1.5;
}

h3, h4, h5, h6 {
    color: #444;
    letter-spacing: 0.3px;
}

header, footer {
    background-image: url("http://wallpapercave.com/wp/fNbrojW.jpg");
    background-attachment: fixed;
    background-size: cover;
}

/***** NAVIGATION *****/
        
        .navigation {
            position: fixed;
            z-index: 1;
            width: 100%;
            height: 1em;
            margin-bottom: 0;
            background-color: black;
        
    }
        .nav > li > a {
            color: #B6861B;
    }
    
/***** /NAVIGATION *****/

/*****HEADER*****/

    .logo {
        position: relative;
        padding-top: 2.5em;
    }
    
    .logo img {
        float: left;
        position: absolute;
        z-index: 2;
    }
    
    .logo h1 {
        padding-left: 4.2em;
        color: #B6861B;
        font-size: 3em;
    }
    
    .logo h2 {
        color: white;
        margin-top: 0;
        padding-left: 6em;
    }
    


    /*** Header Slider ***/
    .header-slides {
        height: 30em;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
            
    }
    .header-slides ul {
        list-style:none;
        position:relative;
    }
    
    .header-slider img {
        width:120%;
    
    }
    
    /* Кадры анимации #anim_slides */
    @-webkit-keyframes anim_slides {
        0% {
            opacity:0;
        }
        6% {
            opacity:1;
        }
        24% {
            opacity:1;
        }
        30% {
            opacity:0;
        }
        100% {
            opacity:0;
        }
    }
    @-moz-keyframes anim_slides {
        0% {
            opacity:0;
        }
        6% {
            opacity:1;
        }
        24% {
            opacity:1;
        }
        30% {
            opacity:0;
        }
        100% {
            opacity:0;
        }
    }
    
    .header-slides ul li {
        opacity:0;
        position:absolute;
        top:0;
        width: 100%;
    
        /* анимация css3 */
        -webkit-animation-name: anim_slides;
        -webkit-animation-duration: 24.0s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: normal;
        -webkit-animation-delay: 0;
        -webkit-animation-play-state: running;
        -webkit-animation-fill-mode: forwards;
    
        -moz-animation-name: anim_slides;
        -moz-animation-duration: 24.0s;
        -moz-animation-timing-function: linear;
        -moz-animation-iteration-count: infinite;
        -moz-animation-direction: normal;
        -moz-animation-delay: 0;
        -moz-animation-play-state: running;
        -moz-animation-fill-mode: forwards;
    }
    
    /* Задержки css3 */
    .header-slides ul  li:nth-child(2), .header-slides ul  li:nth-child(2) div {
        -webkit-animation-delay: 6.0s;
        -moz-animation-delay: 6.0s;
    }
    .header-slides ul  li:nth-child(3), .slides ul  li:nth-child(3) div {
        -webkit-animation-delay: 12.0s;
        -moz-animation-delay: 12.0s;
    }
    .header-slides ul  li:nth-child(4), .slides ul  li:nth-child(4) div {
        -webkit-animation-delay: 18.0s;
        -moz-animation-delay: 18.0s;
    }
    .header-slides ul li img {
        display:block;
        margin-left: -2.8em;
        width: 125%;
        margin-top: 2em;
    }
    
    /* Кадры анимации #anim_titles */
    @-webkit-keyframes anim_titles {
        0% {
            left:100%;
            opacity:0;
        }
        5% {
            left:10%;
            opacity:1;
        }
        20% {
            left:10%;
            opacity:1;
        }
        25% {
            left:100%;
            opacity:0;
        }
        100% {
            left:100%;
            opacity:0;
        }
    }
    @-moz-keyframes anim_titles {
        0% {
            left:100%;
            opacity:0;
        }
        5% {
            left:10%;
            opacity:1;
        }
        20% {
            left:10%;
            opacity:1;
        }
        25% {
            left:100%;
            opacity:0;
        }
        100% {
            left:100%;
            opacity:0;
        }
    }
    
    .header-slides ul li div {
        background-color:#000000;
        border-radius:10px 10px 10px 10px;
        box-shadow:0 0 5px #FFFFFF inset;
        color:#FFFFFF;
        font-size:26px;
        left:10%;
        margin:0 auto;
        padding:20px;
        position:absolute;
        top:50%;
        width:200px;
    
        /* Анимация css3 */
        -webkit-animation-name: anim_titles;
        -webkit-animation-duration: 24.0s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: normal;
        -webkit-animation-delay: 0;
        -webkit-animation-play-state: running;
        -webkit-animation-fill-mode: forwards;
    
        -moz-animation-name: anim_titles;
        -moz-animation-duration: 24.0s;
        -moz-animation-timing-function: linear;
        -moz-animation-iteration-count: infinite;
        -moz-animation-direction: normal;
        -moz-animation-delay: 0;
        -moz-animation-play-state: running;
        -moz-animation-fill-mode: forwards;
    }
    /*** Header Slider ***/
    


/*****/HEADER*****/

/*****MAIN PART*****/

    /*** Events and Pastors ***/
  
    .title {
        border-bottom: 1px dotted #CBCBCB;
        float: left;
        padding-bottom: 17px;
        margin-bottom: 35px;
        position: relative;
        width: 100%;
    }
    
    .title > span {
        color: #ABABAB;
        float: left;
        font-size: 11px;
        line-height: 17px;
        margin-bottom: 13px;
        margin-top: -3px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }
    
    .title > h3 {
        padding-bottom: 0.5em;
        border-bottom: 1px dotted #808080; 
        
    }

    .title > h3 span {
        color: #B6861B;
    }
    
    /*** Events***/
    .event {
        float: left;
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 1px solid #EBEBEB;
        margin-bottom: 20px;
    }
    
    .event > span i {
        margin-right: 5px;
        font-size: 14px;
    }
    
    .event-date {
        border: 1px solid #EDEDED;
        float: left;
        margin-top: 7px;
        margin-right: 35px;
        padding: 10px 0px;
        text-align: center;
        width: 77px;
        border-radius: 3px;
        box-shadow: 0px 0px 13px #EFEFEF inset;
    }
    
    .event-date strong {
        color: #5F5F5F;
        float: left;
        font-size: 20px;
        line-height: 20px;
        margin-top: 10px;
        width: 100%;
    }
    
    .event-date i {
        color: #5F5F5F;
        float: left;
        font-family: open sans;
        font-weight: 400;
        line-height: 30px;
        overflow: hidden;
        padding: 0px 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        font-style: normal;
    }
    
    .event-date span {
        background-color:#B6861B;
        color: #FFF;
        line-height: 23px;
        display: block;
    }
    
    .event > h3, .catechesis > h3 {
        color: #555;
        margin-top: 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .event > span, .catechesis > span  {
        color: #ACACAC;
        font-size: 1em;
        margin-right: 30px;
    
    }

    /*** Pastors***/
    
    .pastor {
        position:relative;
        overflow:hidden;
        width: 25%;
        height: 360px;
    }
    
    .pastor img {
        float: right;
        width: 100%;
        padding:10px;
        margin-bottom: 10px;
    }

    .pastor-detail {
        position: absolute;
        left: 0;
        top: 0;
        text-align: center;
        transition: all 0.4s linear 0s;
    }
    
    .pastor-detail:hover {
        cursor: pointer;
        left: 0;
        top: -83%;
    }
    
    .pastor-detail span {
        color: #B6861B;
    }
    
        
    .pastor-detail p {
        padding: 20px 10px;
    }
    
    /*** /Events and Pastors ***/
    
    /*** About Parish ***/
    .parish {
        padding-left: 3em;
        background: black;
        color: white;
    }
    
    .parish-about p {
        font-size: 1.2em;
        color: #444;
    }
    
    .parish-about span {
        color: #B6861B;
        font-size: 1.3em;
    }
    .parish-schedule p {
        font-size: 1em;
    }
    
     .parish-schedule h3 {
        margin-top: 0;
    }
    
    .parish-schedule h4 {
        color: #B6861B;
    }

    /*** /About Parish ***/
    
    /*** Catechesis ***/
    
    /***Tabs***/
    .catechesis-tabs { position: relative; height: 650px; margin: 0; padding: 29px 0 0 0; padding: calc(28px + 1px) 0 0 0; } 
    .catechesis-tabs li, .catechesis-tabs li:after { position: absolute; border: 1px solid #aaa; background: #fff; } 
    .catechesis-tabs li { width: 100%; height: 640px; height: calc(650px - 10px); list-style: none; padding: 5px; } 
    .catechesis-tabs li:after { content: attr(data-tab); left: -1px; top: -30px; top: calc(-28px - 2px); width: 20%; line-height: 28px; text-align: center; cursor: pointer;}
    .catechesis-tabs li:nth-of-type(2):after { left: 20%; } 
    .catechesis-tabs li:nth-of-type(3):after { left: 40%; } 
    .catechesis-tabs li:hover:after, .catechesis-tabs li:nth-of-type(1):after { border-bottom: 2px solid #fff; } 
    .catechesis-tabs li:after, 
    .catechesis-tabs li:hover, 
    .catechesis-tabs li:nth-of-type(1) { z-index: 1; }
    /*** /Tabs ***/
    
    /*Catechesis slider*/
    /*Time for the CSS*/
    * {margin: 0; padding: 0;}
    
    .catechesis-slider{
    	width: 640px; /*Same as width of the large image*/
    	position: relative;
    	/*Instead of height we will use padding*/
    	padding-top: 320px; /*That helps bring the labels down*/
    	
    	margin: 100px auto;
    	
    	/*Lets add a shadow*/
    	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
    }
    
    /*Last thing remaining is to add transitions*/
    .catechesis-slider>img{
    	position: absolute;
    	left: 0; top: 0;
    	transition: all 0.5s;
    }
    
    .catechesis-slider input[name='catechesis-slide_switch'] {
    	display: none;
    }
    
    .catechesis-slider label {
    	/*Lets add some spacing for the thumbnails*/
    	margin: 18px 0 0 18px;
    	border: 3px solid #999;
    	
    	float: left;
    	cursor: pointer;
    	transition: all 0.5s;
    	
    	/*Default style = low opacity*/
    	opacity: 0.6;
    }
    
    .catechesis-slider label img{
    	display: block;
    }
    
    /*Time to add the click effects*/
    .catechesis-slider input[name='catechesis-slide_switch']:checked+label {
    	border-color: #666;
    	opacity: 1;
    }
    /*Clicking any thumbnail now should change its opacity(style)*/
    /*Time to work on the main images*/
    .catechesis-slider input[name='catechesis-slide_switch'] ~ img {
    	opacity: 0;
    	transform: scale(1.1);
    }
    /*That hides all main images at a 110% size
    On click the images will be displayed at normal size to complete the effect
    */
    .catechesis-slider input[name='catechesis-slide_switch']:checked+label+img {
    	opacity: 1;
    	transform: scale(1);
    }
    /*Clicking on any thumbnail now should activate the image related to it*/
    //*Catechesis slider*/


     /*** /Catechesis ***/


/*****/MAIN*****/

/*****FOOTER*****/
/*****/FOOTER*****/